doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    meta(charset= 'UTF-8')
    meta(name= 'viewport' content= "width=device-width, initial-scale =1")
    title #{ title }
  body
    .container
      .nav-bar
        ul
          li
            h3.title 
              a(target="_blank" href='#') #{ title }
          li
            h3 - 
          li
            h3
              a(target="_blank" href='#') News  
          li
            h3  -
          li
            h3
              a(target="_blank" href='#') Shop
          li
            h3 -
          li
            h3
              a(target="_blank" href='#') Blog
      .project-list
        ul
          li
            h6
              a(target-="_blank" href='#') La petite maison 
        ul
          li
            h6
              a(target-="_blank" href='#') It's not you 
        ul
          li
            h6
              a(target-="_blank" href='#') melon
        ul
          li
            h6
              a(target-="_blank" href='#') razor
        ul
          li
            h6
              a(target-="_blank" href='#') Don't eat friend
        ul
          li
            h6
              a(target-="_blank" href='#') Hunter
        ul
          li
            h6
              a(target-="_blank" href='#') La putita
        ul
          li
            h6
              a(target-="_blank" href='#') showreel
      != yield
      #footer
        ul#social-icons
          li
            a(href= '#{ contact.instagram }' target= "_blank")
              i.fa.fa-instagram
          li
            a(href= '#{ contact.twitter }' target= "_blank")
              i.fa.fa-twitter
          li
            a(href= '#{ contact.tumblr }' target= "_blank")
              i.fa.fa-tumblr
          li
            a(href= '#{ contact.vimeo }' target= "_blank")
              i.fa.fa-vimeo-square
          li
            a(href= '#{ contact.facebook }' target= "_blank")
              i.fa.fa-facebook
          li
            a(href= 'mailto:#{ contact.mail }')
              i.fa.fa-envelope-o
    script(src= "https://code.jquery.com/jquery-1.11.2.min.js") 
    script(src="js/toggle-visability.js")